/* default */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* body */
body {
  position: relative;
  margin: 0px;
}


/* header */
.Header {
  position: absolute;
  padding: 20px 0;
  z-index: 1;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  .Header {
    position: fixed;
    background-color: #ffffff;
  }
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 36px;
}

.HeaderLeft a:hover{
  opacity: 0.8;
}

.HeaderLeft img {
  width: auto;
  height: 20px;
}

.HeaderRight #check {
  display: none;
}

@media screen and (max-width: 1080px) {
  .HeaderRight label {
    display: inline-block;
  }
}

@media screen and (max-width: 1080px) {
  #check:checked ~ .Global-Nav ul {
    transform: translateX(0%);
  }
  
  #check:checked ~ .HamButton span {
    top: 50%;
    transform: translate(0,-50%) rotate(45deg);
  }
  
  #check:checked ~ .HamButton span::before {
    display: none;
  }
  
  #check:checked ~ .HamButton span::after {
    top: 50%;
    transform: translate(0,-50%) rotate(90deg);
  }
  
  .HamButton {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 21px;
  }
  
  .HamButton span, .HamButton span::before, .HamButton span::after {
    display: block;
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: #555555;
    content: "";
  }
  
  .HamButton span::before {
    top: 10px;
  }
  
  .HamButton span::after {
    top: 20px;
  }
}

.Global-Nav ul {
  display: flex;
  align-items: center;
  text-align: center;
  width: 755px;
}

@media screen and (max-width: 1080px) {
  .Global-Nav ul {
    display: block;
    position: fixed;
    top: 66px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: rgba(0,0,0,0.8);
    transform: translateX(110%);
  }
}

.Global-Nav li {
  font-size: 10px;
  margin-left: 45px;
}

@media screen and (max-width: 1080px) {
  .Global-Nav li {
    margin: 0;
    padding: 22px 0;
  }
}

.Global-Nav a {
  display: block;
  text-decoration: none;
  color: #404040;
}

@media screen and (max-width: 1080px) {
  .Global-Nav a {
    font-size: 12px;
    letter-spacing: 2px;
    color: #ff9800;
  }
}

.Global-Nav a:hover {
  opacity: 0.8;
}

.Global-Nav span {
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .Global-Nav span {
    font-weight: 700px;
    font-size: 16px;
    letter-spacing: 5px;
    color: #ffffff;
  }
}

.Global-Nav .Counseling a {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  background-color: #ff9800;
  padding: 10px 20px;
  border: 1px solid #ff9800;
  border-radius: 20px;
}

@media screen and (max-width: 1080px) {
  .Global-Nav .Counseling a {
    display: block;
    width: 250px;
    font-size: 16px;
    letter-spacing: 0;
    margin: 0 auto;
    padding: 16px 50px;
    border-radius: 50px
  }
}


/* main */
@media screen and (max-width: 1080px) {
  main {
    padding-top: 60px;
  }
}

.FirstWrapper {
  padding: 105px 0 20px 0;
  background-image: url(images/top-hero.jpg);
  background-position: center;
  background-size: cover;
}

.FirstContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 50px;
}

.Introduction {
  width: fit-content;
  margin-bottom: 75px;
}

.Introduction h2 {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 35px;
}

.MainImages {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img_no1 {
  width: 40%;
}

.MainContentButtons {
  display: flex;
  margin: 30px 0 0 0;
}

.MainContentButtons a {
  text-decoration: none;
}

.MainContentButtons a:hover {
  opacity: 0.8;
}

.MainContentButtons .Counseling {
  color: #ffffff;
  background-color: #ff9800;
  margin-right: 10px;
  padding: 18px 43px;
  border: 1px solid #ff9800;
  border-radius: 30px;
}

.MainContentButtons .RequestInfo {
  color: #404040;
  background-color: #ffffff;
  padding: 18px 23px;
  border: 1px solid #dddddd;
  border-radius: 30px;
}

.Supplement {
  margin: 0;
  font-size: 12px;
  color: #a9a9a9;
}


/* SecondWrapper */
.SecondWrapper {
  background-color: #ff9800;
  padding: 44px 0;
}

.SecondContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .SecondContainer {
    flex-direction: column;
  }
}

.AboutVideo {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .AboutVideo {
    width: 75%;
    margin-bottom: 16px;
  }
}

.AboutText {
  color: #ffffff;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .AboutText {
    width: 75%;
    margin-left: 0;
  }
}

.AboutText h2 {
  font-size: 35px;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
}

.AboutText p {
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}

.AboutCurriculumLink a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.ArrowIcon {
  vertical-align: middle;
  margin-right: 5px;
}
